body{
	background: #f2f2f2;
	position: relative; 
}

/*diferentes sections*/
  #intro {
    
  	padding-top:50px;
  	height:1000px;
  	color: #fff; 
  	/*background-color: #009688;*/

      /*background: url(../img/home.jpg) 50% 0 fixed; */

      background: #04829B;

      margin: 0 auto; 
      width: 100%; 
      position: relative; 
      /*box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
      padding: 200px 0;
    
  }

  #aboutme {
  	padding-top:50px;
  	height: 1000px;
  	color: #fff; 
  	background-color: #4CB6B2;
  }

  #programming {
  	padding-top:50px;
  	height:1000px;
  	color: #fff; 
  	background-color: #F15024;
  }

  #portfolio {
  	padding-top:50px;
  	height:1000px;
  	color: #fff; 
  	background-color: #FA9D1C;
  }

  #contact {
  	padding-top:50px;
  	height:1000px;
  	color: #fff; 
  	background-color: #5D3D80;
  }

/*fin diferentes sections*/



/*stilos  MENU*/

.navbar-default {
  background-color: #F15024;
  /*border-color: #4CB6B2;*/
  border-color: transparent;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#1a8db6), to(#0b6d8d));*/
}
.navbar-default .navbar-header img{
  margin-top: -15px;
  background-color: #F8724E;
  border-radius: 50px;
}

.navbar-default .navbar-brand {
  color: #d0d1d2;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #F15024;
  background-color: #FAFAFA;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #F15024;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #0b506c;
}
.navbar-default .navbar-toggle {
  border-color: #0b506c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0b506c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0b506c;
  }
}

/*FIN stilos MENU*/




/*-----------Carousel---------------*/

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      height: auto;
  }

.carousel-control.left, .carousel-control.right {
  background-image: none;
  position: absolute;
}






